body {
  padding: 50px;
  background: linear-gradient(to right, #c6ffdd 0%, #fbd786 51%, #f7797d 100%);
  display: flex;
  padding: 10rem;
  margin: auto;
  justify-content: center;
}
.btn-grad:hover {
  background-position: right center;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.h1 {
  font-family: fantasy;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.addressListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  width: 165px;
}

.addressListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #93a5cf → #e4efe9;
  color: black;
  border: 2px solid #0066ff;
}

.addressListMain .header button:hover {
  background: linear-gradient(to right, #1e9600 0%, #fff200 51%, #ff0000 100%);
}
.btn-grad:hover {
  background-position: right center;
  border: 2px solid black;
  cursor: pointer;
}

.addressListMain .theList {
  list-style: none;
  color: red;
  padding-left: 0;
  width: 250px;
}

.addressListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

ul.theList {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}

.addressListMain .theList li:hover {
  background-color: yellow;
  cursor: pointer;
}
